<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>粘连布局</title>
    <style>
    *{
        margin: 0;
        padding: 0;
    }
    html,
    body{
        height: 100%;
    }
    #wrap{
        min-height: 100%;
        background: pink;
        text-align: center;
        overflow: hidden;
    }
    #wrap .main{
        padding-bottom: 50px;
    }
    #footer{
        height: 50px;
        line-height: 50px;
        background: deeppink;
        text-align: center;
        margin-top: -50px;
    }
    </style>
</head>
<body>
    <div id="wrap">
        <div id="main">
            main<br/>
            main<br/>
            main<br/>
        </div>
    </div>
    <div id="footer">footer</div>
</body>
</html>